zz*
__pycache__/
*.pyc
trust_store.json
ca_data/
certbot/
boulder/
api/c/*.o
api/c/*.a
api/c/example
api/c/mtc-example
api/c/configure
api/c/config.*
api/c/Makefile
api/c/aclocal.m4
api/c/autom4te.cache/
api/c/compile
api/c/ar-lib
api/c/depcomp
api/c/install-sh
api/c/missing
api/c/.deps/
